<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlogVerse - Heaven for bloggers</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/css/all.css">


    <!-- --------- Owl-Carousel ------------------->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <!-- ------------ AOS Library ------------------------- -->
    <link rel="stylesheet" href="/css/aos.css">

    <!-- Custom Style   -->
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/w_blog.css">
    <link rel="stylesheet" href="/css/comment.css">
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>

    <!-- ----------------------------  Navigation ---------------------------------------------- -->

    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="#" class="text-gray">BlogVerse</a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="/">Home</a>
                    </li>
                    <li class="nav-link">
                        <a href="/w_blog">Write A Blog</a>
                    </li>
                    <li class="nav-link">
                        <a href="/latest">Latest</a>
                    </li>
                    <li class="nav-link">
                        <a href="/your_blogs">Your Blogs</a>
                    </li>

                    <li class="nav-link">
                        <a href="/login">Login/Signup</a>
                    </li>
                    <li class="nav-link">
                        <a href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="social text-gray">
                <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.teitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </nav>
    <!-- ------------x---------------  Navigation --------------------------x------------------- -->


    <div class="wrapper">
        <form class="form" id="reg-form">
            <div class="pageTitle title">Sign Up </div>
            <div class="secondaryTitle title">Please fill this form to sign up.</div>
            <input type="text" autocomplete="off" id="username" class="name formEntry" placeholder="Username" />
            <input type="password" autocomplete="off" id="password" class="email formEntry" placeholder="Password" />
            <input type="checkbox" class="termsConditions" value="Term">
            <label style="color: grey" for="terms"> I Accept the <span style="color: #0e3721">Terms of Use</span> &
                <span style="color: #0e3721">Privacy Policy</span>.</label><br>
            <input type="submit" class="submit formEntry" value="Submit" />
        </form>
    </div>

    <script>
        const form = document.getElementById('reg-form')
        form.addEventListener('submit', registerUser)

        async function registerUser(event) {
            event.preventDefault()
            const username = document.getElementById('username').value
            const password = document.getElementById('password').value

            const result = await fetch('/api/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username,
                    password
                })
            }).then((res) => res.json())

            if (result.status === 'ok') {
                // everythign went fine
                document.getElementById('username').value = "";
                document.getElementById('password').value = "";
                alert('Success')
            } else {
                alert(result.error)
            }
        }
    </script>
</body>

</html>